@import '../variables.scss';
@import '../mixins.scss';

.page-detail {
  width: $defaultWidth;
  margin: 0 auto;

  .product-info {
    padding: 20px;
    background-color: #fff;
    border: 1px solid $borderColor;
    border-radius: 10px;
    box-sizing: border-box;

    .left {
      padding-right: 20px;

      .product-name {
        padding: 5px 0;
        line-height: 28px;
        font-size: 26px;
        color: #666;
      }

      .info {
        margin: 5px 0 10px;

        .rate,
        .score,
        .price {
          display: inline-block;
          vertical-align: middle;
          color: $defaultGray;
        }
      }

      .address {
        padding: 20px;
        border-width: 1px 0 1px 0;
        border-style: solid;
        border-color: $borderColor;
      }
    }

    .right {
      .product-img {
        width: 100%;
        height: 214px;
        overflow: hidden;

        .img {
          display: block;
          width: 100%;
        }
      }

      .img-nav {
        width: 100%;
        height: 80px;
        margin-top: 10px;
        overflow: hidden;

        .item {
          float: left;
          width: 100px;
          height: 80px;
          cursor: pointer;

          img {
            display: block;
            width: 100%;
          }

          & + .item {
            margin-left: 10px;
          }
        }
      }
    }
  }

  .sub-title {
    margin-top: 40px;
    height: 36px;
    line-height: 36px;
    color: $defaultBlack;
    font-weight: 700;
  }

  .products-list {
    padding: 0 20px;
    background-color: #fff;
    border: 1px solid $borderColor;
    border-radius: 10px;

    .deal-need-login {
      text-align: center;

      p {
        padding: 10px;
        color: $defaultGray;
      }

      .btn {
        border-color: #13D1BE;
        background-color: #13D1BE;
        color: #fff;
      }
    }

    .detail-item{

      .section {
        display: flex;
        padding: 20px 0;
        border-bottom: 1px solid #ddd;
        align-items: center;

        dd {
          &:nth-child(1) {
            img {
              width: 100px;
              height: 100px;
              border-radius: 4px;
            }

            padding-right: 20px;
          }

          &:nth-child(2) {
            flex: 1;
          }

          >h4 {
            vertical-align: middle;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 480px;
            font-size: 16px;
            color: #222;
            font-weight: 500;
            height: 22px;
            line-height: 22px;
            margin-bottom: 4px;
            cursor: pointer;
          }

          >p {
            font-size: 12px;
            color: #666;
            height: 17px;
            line-height: 17px;
            margin-bottom: 22px;

            .price {
              font-size: 30px;
              color: #F60;
              margin-right: 10px;

              &:before {
                content: "￥";
                font-size: 14px;
              }
            }
          }
        }
      }

      &:last-child {
        .section {
          border-bottom: none;
        }
      }

      .btn {
        border-color: #13D1BE;
        background-color: #13D1BE;
        color: #fff;
      }
    }
  }
}
