$defaultColor: #FE8C00; /* 主体颜色 */
$defaultYellow: #FFC300; /* 黄色 */
$defaultRed: #f04d4e; /* 红色 */
$defaultBlack: #222; /* 黑色 */
$defaultGray: #999; /* 灰色 */
$bgColor: #f8f8f8; /* 顶部导航背景颜色 */

$borderColor: #e5e5e5; /* 边框颜色 */

$defaultWidth: 1190px;
